* {
    margin : 0;
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 25px;
}
h1{
    text-align: center;
}
button{
    background-color: purple;
    color: white;
    border: none;
}
button:hover {
    background-color: plum;
}
#newCode {
    margin-top: 25px;
}
div {
    margin-top: 25px;
    margin-bottom: 25px;
}

#answer {
    border: 3px solid purple;
    min-height: 25px;
}